<div class="password-recovery">
    <div>
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <div class="label-init">
        <span>Precisa recuperar sua senha?</span>
    </div>

    <form>
        <div class="label">
            <div class="password">
                <input type="password" placeholder="Senha" name="password" [(ngModel)]="password">
                <p id="success" style="color: green; display: none;">Senha recuperada com sucesso!!!</p>
                <p id="passwordMessage" style="display: none; text-align: center;">A sua senha deve conter pelo menos 8
                    caracteres, sendo eles: letra maiúscula,
                    minúscula, numeros e caractere especial</p>
                <p id="message" style="color: red; display: none;">Todos os campos devem ser preenchidos</p>
            </div>

            <div class="button">
                <button type="button" class="password-recovery-button" (click)="newPassword()">Criar Nova Senha</button>
            </div>
        </div>
    </form>
</div>