

<div class="image_c">
    <img src="../assets/image 2.png" class="image_cc">
</div>

    <h1 class="titulo">SM BURGER</h1>

    <p class="endereco">Av Paulista, 103</p>


<div class="funcionamento">
    <h1>Funcionamento</h1>
    <p>Terça a Domingo | 16h às 23h59</p>
    <p>Feriados | 16h às 21h</p>
</div>

<div class="contato">
    <h1>Contato</h1>

    <div class="image_w">
        <img src="../assets/whatsapp-2 1.png"> 
        <p style="margin: 0;">(11) 91234-5678</p>
    </div>
    
</div>