header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    flex: 2;
    text-transform: uppercase;
}


body {
    background-color: #E1E1E1;
}

.procurar {
    display: flex;
    border: 1px solid rgb(190, 180, 180);
    border-radius: 12px;
    padding: 6px;
}

.restaurantes {
    color: #192F01;
    display: flex;
    padding: 26px;
    font-size: 18px;
    justify-content: center;
}

.input_pesquisar {
    border: none;
}

input::placeholder {
    color: #192F01;
    font-size: 16px;
}

.content {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurant {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F8EFEA;
    padding: 16px;
}

.data {
    margin: 26px;
    font-weight: bolder;
    text-align: center;
}

.restaurants img {
    width: 100px;
    height: 100px;
    display: flex;
}