header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    flex: 2;
    text-transform: uppercase;
}

/* CONFIGURAÇÕES ESTILOS DO CARRINHO */

.shop{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    max-height: 300px;
    overflow-y: scroll;
    padding-top: 90px;
}

.background{
    background-color: rgba(127, 127, 127, 0.14);
    height: 110px;
    width: 95%;
    border-radius: 15px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.food-img{
    width: 100px;
    height: 80px;
    border-radius: 13px;
}

.delete{
    width: 35px;
    height: 35px;
}

.delete-x{
    margin: 0;
}

.qtd{
    margin-left: 5px;
    font-size: 30px;
    margin-top: 30px;
}

h2{
    width: 95px;
    font-size: 20px;
    text-align: center;
}

p{
    margin-top: 0;
    font-size: 23px;
    text-align: center;
}

/* Configuração total e botão de confirmação */

.total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
}

h3, span{
    font-size: 30px;
    color: #8D99AE;
    text-transform: uppercase;
    font-weight: lighter;
}

.add-order{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 250px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color: rgba(224, 71, 91, 0.88);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}