<header>
    <img src="../../../assets/seta-esquerda.png" alt="">
    <h1>Configurações</h1>
</header>

<div>
    <div class="shop">
        <div class="background">
            <div>
                <div class="qtd">
                    <p>2</p>
                </div>
                <img src="../../../assets/food (2).jpg" alt="" class="food-img">
                <div>
                    <h2></h2>
                    <p></p>
                </div>
                <div class="delete">
                    <p class="delete-x">X</p>
                </div>
            </div>
        </div>

    </div>
</div>