<header>
    <img src="../../../assets/seta-esquerda.png" alt="">
    <h1>Configurações</h1>
</header>

<div>
    <div class="shop">
        <div class="background">
            <div class="content">
                <div>
                    <p class="qtd">2</p>
                </div>
                <img src="../../../assets/food (2).jpg" alt="" class="food-img">
                <div>
                    <h2>Nome da comida</h2>
                    <p>R$0,00</p>
                </div>
                <div>
                    <img class="delete" src="../../../assets/recycle-bin.png" alt="">
                </div>
            </div>
        </div>
        <div class="background">
            <div class="content">
                <div>
                    <p class="qtd">2</p>
                </div>
                <img src="../../../assets/food (2).jpg" alt="" class="food-img">
                <div>
                    <h2>Nome da comida</h2>
                    <p>R$0,00</p>
                </div>
                <div>
                    <img class="delete" src="../../../assets/recycle-bin.png" alt="">
                </div>
            </div>
        </div>
        <div class="background">
            <div class="content">
                <div>
                    <p class="qtd">2</p>
                </div>
                <img src="../../../assets/food (2).jpg" alt="" class="food-img">
                <div>
                    <h2>Nome da comida</h2>
                    <p>R$0,00</p>
                </div>
                <div>
                    <img class="delete" src="../../../assets/recycle-bin.png" alt="">
                </div>
            </div>
        </div>
        <div class="background">
            <div class="content">
                <div>
                    <p class="qtd">2</p>
                </div>
                <img src="../../../assets/food (2).jpg" alt="" class="food-img">
                <div>
                    <h2>Nome da comida</h2>
                    <p>R$0,00</p>
                </div>
                <div>
                    <img class="delete" src="../../../assets/recycle-bin.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="total">
        <h3>Total</h3>
        <span>R$ 28,50</span>
    </div>
    <div class="add-order">
        <button type="submit" class="btn">fazer pedido</button>
    </div>
</div>