<header>
    <img src="../../../assets/seta-esquerda.png" alt="">
    <h1>Configurações</h1>
</header>

<div>

    <div class="user-info">
        <div class="user-info-content">
            <img src="../../../assets/pexels-horizon-content-3915907.jpg" alt="">
            <h2>sm burger</h2>
        </div>
    </div>

    <div class="restaurant-data">

        <div>
            <div class="left">
                <div class="user-icon">
                    <img src="../../../assets/do-utilizador.png" alt="">
                </div>

                <div class="name-info">
                    <p>Nome</p>
                </div>
            </div>
        </div>

        <div>
            <div class="left">
                <div class="user-icon">
                    <img src="../../../assets/sinal-de-arroba.png" alt="">
                </div>

                <div class="email-info">
                    <p>E-mail</p>
                </div>
            </div>
        </div>

        <div>
            <div class="left">
                <div class="user-icon">
                    <img src="../../../assets/iphone.png" alt="">
                </div>

                <div class="phone-info">
                    <p>Telefone</p>
                </div>
            </div>
        </div>

        <div>
            <div class="left">
                <div class="user-icon">
                    <img src="../../../assets/localizacao.png" alt="">
                </div>

                <div class="address-info">
                    <p>Endereço</p>
                </div>
            </div>
        </div>

        <div>
            <div class="left">
                <div class="user-icon">
                    <img src="../../../assets/relogio.png" alt="">
                </div>

                <div class="openings-info">
                    <p>Horário de funcionamento</p>
                </div>
            </div>
        </div>

        <div class="edit-btn">
            <button>editar</button>
        </div>

    </div>


</div>