<div class="forget-password">
    <header>
        <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    </header>

    <div>
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <div class="label-init">
        <span>Precisa recuperar sua senha?</span>
    </div>

    <form>
        <div class="label">
            <div class="email">
                <input type="email" placeholder="Email" name="email" [(ngModel)]="userEmail">
                <p id="success" style="color: green; display: none;">Um e-mail de recuperação foi enviado para você.</p>
                <p id="failed" style="color: red; display: none;">Esse e-mail não está cadastrado no sistema.</p>
                <p id="mailMessage" style="display: none;">O email deve ser um email válido</p>
                <p id="message" style="color: red; display: none;">Todos os campos devem ser preenchidos</p>
            </div>

            <div class="button">
                <button type="button" (click)="checkEmail()" class="forget-password-button">Recuperar Senha</button>
            </div>
        </div>
    </form>
</div>