header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    margin-left: 20px;
    margin-top: 25px;
}

.forget-password div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image {
    width: 250px;
    height: 250px;
}

.label-init {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #192F01;
}

form {
    width: 100%;
    padding-top: 80px;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

}

.label input {
    width: 70%;
    height: 45px;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.184);
    background-color: #F7F7F2;
}

.button {
    padding-top: 30px;
}

.forget-password-button {
    width: 246.74px;
    height: 55px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    background-color: rgba(25, 47, 1, 0.88);
    color: #F7F7F2;
}