<div class="forget-password">
    <div>
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <div class="label-init">
        <span>Precisa recuperar sua senha?</span>
    </div>

    <form>
        <div class="label">
            <div class="email">
                <input type="email" placeholder="Email">
            </div>

            <div class="button">
                <button type="submit" class="forget-password-button">Recuperar Senha</button>
            </div>
        </div>
    </form>
</div>