header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    flex: 2;
    text-transform: uppercase;
}

.orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* título da página */

h2 {
    text-transform: uppercase;
    color: #E0475B;
    display: flex;
    justify-content: center;
}

/* Configuração da comanda */

.background {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(141, 153, 174, 0.35);
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background div {
    display: flex;
}

.table {
    background-color: #52B788;
    color: #fff;
    text-transform: uppercase;
    width: 130px;
    margin-top: 5px;
    border-radius: 13px;
    text-align: center;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 2px 0;
    font-size: 18px;
}

.content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgba(141, 153, 174, 0.22);
    width: 95%;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
}

.item div {
    display: flex;
    flex-direction: column;
}

.obs-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}

.dish {
    width: 190px;
    white-space: nowrap;
    word-wrap: break-word;
    margin: 0;
}

span {
    margin: 0;
    font-size: 18px;
    justify-content: flex-start;
}

.item-obs {
    height: 50px;
}


/* Configuração do botão de concluído o preparo*/

.btn {
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: bold;
}

button {
    background-color: #FFDDE2;
    border: none;
    width: 130px;
    height: 22px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
}