<header>
    <img src="../../../assets/seta-esquerda.png" alt="">
    <h1>Comanda</h1>
</header>

<div class="orders">
    <h2>Controle de pedidos</h2>
    <div class="background">
        <div>
            <div class="table">
                <p>Mesa 1</p>
            </div>
        </div>

        <div class="content">
            <div class="item">
                <div>
                    <p class="dish">Macarrão</p>
                    
                </div>
                <p class="unit">1 un</p>
            </div>

            <div class="item item-obs">
                <div class="obs-item">
                    <p class="dish">Macarrão</p>
                    <span>observação</span>
                </div>
                <p class="unit">1 un</p>
            </div>
             
            <div class="btn">
                <button>Concluído</button>
            </div>
        </div>
    </div>
    <div class="background">
        <div>
            <div class="table">
                <p>Mesa 1</p>
            </div>
        </div>

        <div class="content">
            <div class="item">
                <div>
                    <p class="dish">Macarrão com arroz</p>
                    
                </div>
                <p class="unit">1 un</p>
            </div>
            
            <div class="item item-obs">
                <div class="obs-item">
                    <p class="dish">Macarrão</p>
                    <span>observação</span>
                </div>
                <p class="unit">1 un</p>
            </div>
             
            <div class="btn">
                <button>Concluído</button>
            </div>
        </div>
    </div>
</div>