<header>
    <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    <h1>Comanda</h1>
</header>

<div class="orders">
    <h2>Controle de pedidos</h2>
    <div *ngFor="let order of orders" class="background">
        <div>
            <div class="table">
                <p>Mesa {{order.board}}</p>
            </div>
        </div>

        <div class="content">
            <div *ngFor="let dishe of order.dishes" class="item item-obs">
                <div>
                    <p class="dish">{{dishe.dish}}</p>
                    <span>{{dishe.obs}}</span>
                </div>
                <p class="unit">{{dishe.quantity}} un</p>
            </div>
            <div class="btn">
                <button (click)="concludeItem(order.ID)">Concluído</button>
            </div>
        </div>
    </div>
</div>