header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    flex: 2;
    text-transform: uppercase;
}

.orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* título da página */

h2 {
    text-transform: uppercase;
    color: #E0475B;
    display: flex;
    justify-content: center;
}

/* Configuração da comanda */

.background {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(141, 153, 174, 0.35);
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background div {
    display: flex;
}

.table {
    background-color: #52B788;
    color: #fff;
    text-transform: uppercase;
    width: 130px;
    margin-top: 5px;
    border-radius: 13px;
    text-align: center;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 2px 0;
    font-size: 18px;
}

.table p,
.unit {
    margin-top: 17px;
}

.content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgba(141, 153, 174, 0.22);
    width: 95%;
    border-radius: 15px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 23px;
}

.item div {
    display: flex;
    flex-direction: column;
}

.obs-item {
    display: flex;
    gap: 5px;
    margin: 0;
}

.dish {
    width: 190px;
    white-space: nowrap;
    word-wrap: break-word;
    margin: 0;
}

div .right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

span {
    margin: 0;
    font-size: 18px;
    justify-content: flex-start;
}

.final-value {
    margin-top: 10px;
}

.final-value p {
    margin: 0;
}

/* Configuração do botão de concluído o preparo*/

.btn-ok {
    display: flex;
    align-items: center;
    justify-self: center;
    font-weight: bold;
}

.concluido {
    background-color: #FFDDE2;
    border: none;
    width: 130px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
}

/* Modal */

.modal-body {
    margin-top: 20px;
}

.item-modal {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(141, 153, 174, 0.22);
    border-radius: 15px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: center;
    font-size: 23px;
    margin-left: 10px;
    min-width: fit-content;
}

.name-unit {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.detail-modal {
    margin-top: 10px;
}

.dish-modal,
.unit-modal,
.detail-modal {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

/* Alert config */

.alert {
    position: fixed;
    top: 25px;
    z-index: 999;
    transition: opacity 0.5s ease-out;
}

svg {
    width: 30px;
}