<div class="login-form">
    <div class="image">
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <form>
        <div class="container">
            <div class="label">
                <label class="waiter">WAITER TECH</label>
                <label class="choose">Escolha a sua forma de login</label>
            </div>

            <div class="button">
                <button (click)="loginRestaurant()" class="button-restaurant">Restaurante</button>
                <button (click)="loginClient()" class="button-client">Cliente</button>
            </div>
        </div>
    </form>
</div>