<header>
    <div id="name">
        <h1 class="waiter">WAITER TECH</h1>
    </div>
</header>

<main>
    <div class="container">
        <div (click)="teste()" class="retangulo">
            <img id="img1" src="assets/dishes.png" alt="">
            <h2 class="h2pratos">Pratos</h2>
        </div>
        <div class="retangulo2">
            <img id="img2" src="assets/drink.png" alt="">
            <h2 class="h2bebidas">Bebidas</h2>
        </div>
        <div class="retangulo3">
            <img id="img3" src="assets/dessert.png" alt="">
            <h2 class="h2sobremesa">Sobremesas</h2>
        </div>
    </div>
</main>