header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

header img {
    height: 30px;
    margin-left: 20px;
    margin-right: 30px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
}

/* Configuração dos botões */

.container {
    margin-top: 25px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.retangulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border-radius: 15px;
    text-transform: uppercase;
    height: 154px;
}

.verde1 {
    background-color: #B7E4C7;
}

.verde2 {
    background-color: #95D5B2;
}

.verde3 {
    background-color: #74C69D;
}

h2 {
    font-size: 24px;
}

.img-option {
    margin-top: 5px;
    width: 105px;
    height: 105px;
}