<header>
    <h1>home</h1>
</header>

<main>
    <div class="container">
        <div (click)="teste()" class="retangulo verde1">
            <img id="img1" src="assets/dishes.png" alt="">
            <h2>Pratos</h2>
        </div>
        <div class="retangulo verde2">
            <img id="img2" src="assets/drink.png" alt="">
            <h2>Bebidas</h2>
        </div>
        <div class="retangulo verde3">
            <img id="img3" src="assets/dessert.png" alt="">
            <h2>Sobremesas</h2>
        </div>
    </div>
</main>