<header>
    <img src="../../../assets/seta-esquerda.png" alt="">
    <h1>Configurações</h1>
</header>

<div class="general-content">

    <div class="content">
        <div class="order">
            <p class="dish-info">Macarrão ao molho branco</p>
            <img src="../../../assets/pexels-nada-demasy-4279476.jpg" class="dish-choice">
            <p class="dish-info">R$ 25,90</p>
        </div>
    </div>

    <div class="counter">
        <button class="less-more">-</button>
        <span>1</span>
        <button class="less-more">+</button>
    </div>

    <div class="dish-details">
        <p>Descrição</p>

        <div class="more-details">
            <span>Macarrão ao molho branco, tomate e torrada</span>
        </div>

    </div>

    <div class="add-obs">
        <input type="text" placeholder="Observações: por exemplo, remover cebola" class="large-input">
    </div>

    <div class="finish-info">
        <button type="submit" class="btn">adicionar</button>
    </div>

</div>