<header>
    <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    <h1>Configurações</h1>
</header>

<div class="general-content">

    <div class="content">
        <div class="order">
            <p class="dish-info">{{dish.dish_name}}</p>
            <img src={{dish.image}} class="dish-choice">
            <p class="dish-info">{{dish.price}}</p>
        </div>
    </div>

    <div class="counter">
        <button class="less-more less" (click)="decreaseAmount()">-</button>
        <span>{{quantity}}</span>
        <button class="less-more" (click)="increaseAmount()">+</button>
    </div>

    <div class="dish-details">
        <p>Descrição</p>

        <div class="more-details">
            <span>{{dish.description}}</span>
        </div>

    </div>

    <div class="add-obs">
        <input type="text" placeholder="Observações: por exemplo, remover cebola" [(ngModel)]="obs" class="large-input">
    </div>

    <div class="finish-info">
        <button (click)="addToCart()" type="submit" class="btn">adicionar</button>
    </div>
</div>