header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 30px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    flex: 2;
    text-transform: uppercase;
    margin-top: 10px;
}

/* FIM CONFIG HEADER */

/* CRIAÇÃO DO SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 26px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

}

input:checked+.slider {
    background-color: #76EE59;
}

input:focus+.slider {
    box-shadow: 0 0 1px #76EE59;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* FIM CRIAÇÃO DO SWITCH */


/* ORGANIZAÇÃO DO FORMULÁRIO */

.add-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    font-size: 20px;
    margin-left: 30px;
}

.form-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3vh;
    justify-content: center;
}

label {
    margin-bottom: 2vh;
    font-weight: 200;
    display: block;
}

input,
textarea {
    border: none;
    color: #000;
    border-radius: 13px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0 0 0 15px;
}

.small-input {
    width: 288px;
    height: 32px;
    font-size: 20px;
}

.large-input {
    width: 288px;
    height: 90px;
    font-size: 20px;
    padding-top: 8px;
    align-items: start;
    resize: none;
    line-height: 1.5;
}


::placeholder {
    display: flex;
    text-indent: 0;
    white-space: pre-wrap;
    line-height: 18px;
    text-align: start;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.large-input::placeholder {
    position: absolute;
    padding: 10px 0;
}

/* FIM CONFIG CHECKBOX E CHECKMARK*/

.show-yes-no {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn {
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 10px;
    background-color: rgba(224, 71, 91, 0.88);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* FIM ORGANIZAÇÃO DO FORMULÁRIO */

/* Alert config */

.alert {
    position: fixed;
    top: 10px;
    z-index: 999;
    transition: opacity 0.5s ease-out;
}

svg {
    width: 30px;
    margin-right: 15px;
}