
<div class="signup-restaurant">
    <header>
        <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    </header>

    <div class="theW">
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <div class="label-init">
        <span>Olá</span>
        <span>Cadastre o seu Restaurante</span>
    </div>

    <form (ngSubmit)="signUp()">
        <div class="label">
            <div class="restaurantName">
                <input name="restaurantName" type="text" [(ngModel)]="userData.restaurantName"
                    placeholder="Nome do Restaurante">
            </div>
            <div class="email">
                <input name="email" type="email" [(ngModel)]="userData.email" placeholder="Email">
            </div>
            <div class="cpf_cnpj">
                <input name="cpf_cnpj" type="text" [(ngModel)]="userData.cpf_cnpj" placeholder="CPF/CNPJ">
            </div>
            <div class="password">
                <input name="password" type="password" [(ngModel)]="userData.password" placeholder="Senha" [(ngModel)]="senha" name="senha" (keypress)="verifyPassword()">
                <span class="tooltip">A sua senha deve conter pelo menos 8 caracteres, sendo eles: letra maiúscula, minúscula, numeros e caractere especial</span>
            </div>

            <div class="button">
                <button type="submit" class="restaurant-signup-button">Cadastrar</button>
            </div>
        </div>
    </form>
</div>