<div class="signup-restaurant">
    <div>
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <div class="label-init">
        <span>Olá</span>
        <span>Cadastre o seu Restaurante</span>
    </div>

    <form>
        <div class="label">
            <div class="email">
                <input type="email" placeholder="Email">
            </div>
            <div class="cpf_cnpj">
                <input type="text" placeholder="CPF/CNPJ">
            </div>
            <div class="password">
                <input type="password" placeholder="Senha">
            </div>

            <div class="button">
                <button type="submit" class="restaurant-signup-button">Cadastrar</button>
            </div>
        </div>
    </form>
</div>