.login-restaurant div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image {
    width: 250px;
    height: 250px;
}

.label-init {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #192F01;
}

form {
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;

}

.label input {
    width: 70%;
    height: 45px;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.184);
    background-color: #F7F7F2;
}

.button {
    padding-top: 30px;
}

.login-button {
    width: 246.74px;
    height: 55px;
    font-size: 32px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    background-color: rgba(25, 47, 1, 0.88);
    color: #F8EFEA;
}

.anchor {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.anchor a {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    color: #192F01;
}

/* Alert config */

.alert{ 
    position: fixed;
    top: 25px;
    z-index: 999;
    transition: opacity 0.5s ease-out;
}

svg{
    width: 30px;
}