<div class="login-restaurant">
    <div>
        <img class="image" src="assets/W.png" alt="Logo-App">
    </div>

    <div class="label-init">
        <span>Olá</span>
        <span>Faça login em sua conta</span>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="label">
            <div class="email">
                <input name="email" [(ngModel)]="userLogin.email" type="email" placeholder="Email">
            </div>
            <div class="password">
                <input name="password" [(ngModel)]="userLogin.password" type="password" placeholder="Senha">
            </div>

            <div class="button">
                <button type="submit" class="login-button">Login</button>
            </div>
        </div>
    </form>
    <div class="anchor">
        <div><a (click)="signUpRoute()">Cadastrar Restaurante</a></div>
        <div><a (click)="forgetRoute()">Esqueceu a Sua Senha?</a></div>
    </div>
</div>