<header>
    <img (click)="goBack()" class="return" src="../../../assets/seta-esquerda.png" alt="">
    <h1>menu</h1>
    <div class="add-item" (click)="goAdd()">
        <img src="../../../assets/plus.png">
    </div>
</header>

<div class="content" *ngFor="let dish of dishs">
    <div class="container">
        <div class="background">
            <div class="details">
                <img class="food-img" src={{dish.image}} alt="">

                <div class="option">
                    <h2>{{dish.dish_name}}</h2>

                    <div class="buttons">
                        <div>
                            <img (click)="goEdit(dish.ID)" src="../../../assets/editar.png" alt="" class="edit-delete">
                        </div>

                        <div>
                            <img type="button" src="../../../assets/lixeira.png" class="edit-delete"
                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                                (click)="getData(dish.dish_name, dish.ID)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Você tem certeza que deseja excluir?</h1>
            </div>
            <div class="modal-body">
                {{dishNameModal}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" (click)="deleteDish(idDishModal)">Excluir prato</button>
            </div>
        </div>
    </div>
</div>