.produto {
    width: 400px;
    height: 200px;
    background-color: #EEE0CB;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dname {
    color: #192f01;
}

.dtext {
    color: #000000;
}

.imagem {
    width: 90px;
    height: 90px;
}

.img {
    margin: 5px;
}

.description {
    margin: 5px;
}