header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

header img {
    height: 30px;
    margin-left: 20px;
}

h1 {
    text-align: center;
    flex: 2;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 10px;
}

/* Quadrado verde */

.green-bg {
    background-color: #DDE5B6;
    border-radius: 75px 75px 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    padding-top: 50px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #192F01;
}

p {
    color: #192F01;
    font-size: 18px;
    text-align: center;
    margin: 60px 0;
    font-weight: lighter;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 307px;
    height: 58px;
    font-size: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F9F7F3;
    text-align: center;
}

input::placeholder {
    text-align: center;
    font-size: 22px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
    margin-top: 60px;
    width: 307px;
    height: 58px;
    border: none;
    border-radius: 10px;
    background-color: rgba(249, 247, 243, 0.75);
    font-size: 30px;
    color: #192F01;
}

.where {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 14px;
}

/* Modal */

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.modal-body img {
    width: 90px;
    height: 90px;
}

.modal-body p {
    font-size: 17px;
    margin: 0 0 10px 0;
}

/* Alert config */

.alert{ 
    position: fixed;
    top: 25px;
    z-index: 999;
    transition: opacity 0.5s ease-out;
}

svg{
    width: 30px;
}