<header>    
    <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    <h1>código do restaurante</h1>
</header>

<div>

    <div class="green-bg">

        <h2>Confirmação</h2>

        <p>Por favor, digite o código do restaurante</p>

        <form action="">
            <input type="text" name="ID" placeholder="Insira o código aqui">

            <div>
                <button class="btn" type="submit" (click)="goHome()">Confirmar</button>
            </div>
        </form>

        <div class="where">
            <span>Onde encontro o código?</span>
        </div>

    </div>

</div>