<header>
    <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    <h1>código do restaurante</h1>
</header>

<div>

    <div class="green-bg">

        <h2>Confirmação</h2>

        <p>Por favor, digite o código do restaurante</p>

        <form action="">
            <input type="text" name="ID" [(ngModel)]="idRestaurant" placeholder="Insira o código aqui">

            <div>
                <button class="btn" (click)="goRestaurantPage()">Confirmar</button>
            </div>
        </form>

        <div class="where" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span>Onde encontro o código?</span>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../../../assets/restaurant.png" alt="">
        <p>Por padrão, o código do restaurante é disponibilizado junto ao número da sua mesa. 
        <br>
        <br> Caso não o encontre, poderá solicitar apoio a algum funcionário do estabelecimento. </p>
      </div>
    </div>
  </div>
</div>