<header>
    <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
    <h1>Configurações</h1>
</header>

<div>

    <div class="user-info">
        <div class="user-info-content">
            <img src="../../../assets/pexels-horizon-content-3915907.jpg" alt="">
            <h2>{{nameRestaurant}}</h2>
        </div>
    </div>

    <div>
        <h3>Edite as suas informações</h3>
    </div>


    <form #updateDataForm='ngForm' (ngSubmit)="updateData(updateDataForm)">
        <div class="restaurant-data">

            <div>
                <div class="left">
                    <div class="user-icon">
                        <img src="../../../assets/do-utilizador.png" alt="">
                    </div>

                    <div class="name-info">
                        <p>Nome</p>
                    </div>
                </div>

                <div class="new-info">
                    <input type="text" name="restaurantName" [(ngModel)]="restaurantData.restaurantName"
                        placeholder="Digite o novo nome">
                </div>

            </div>

            <div>
                <div class="left">
                    <div class="user-icon">
                        <img src="../../../assets/sinal-de-arroba.png" alt="">
                    </div>

                    <div class="email-info">
                        <p>E-mail</p>
                    </div>
                </div>

                <div class="new-info">
                    <input type="email" name="email" [(ngModel)]="restaurantData.email"
                        placeholder="Digite o novo e-mail">
                </div>
            </div>

            <div>
                <div class="left">
                    <div class="user-icon">
                        <img src="../../../assets/iphone.png" alt="">
                    </div>

                    <div class="phone-info">
                        <p>Telefone</p>
                    </div>
                </div>

                <div class="new-info">
                    <input type="number" name="phone" [(ngModel)]="restaurantData.contact"
                        placeholder="Digite o novo telefone">
                </div>
            </div>

            <div>
                <div class="left">
                    <div class="user-icon">
                        <img src="../../../assets/localizacao.png" alt="">
                    </div>

                    <div class="address-info">
                        <p>Endereço</p>
                    </div>
                </div>

                <div class="new-info">
                    <input type="text" name="address" [(ngModel)]="restaurantData.address"
                        placeholder="Digite o novo endereço">
                </div>
            </div>

            <div>
                <div class="left">
                    <div class="user-icon">
                        <img src="../../../assets/relogio.png" alt="">
                    </div>

                    <div class="openings-info">
                        <p>Horário de funcionamento</p>
                    </div>
                </div>

                <div class="new-info">
                    <input type="text" name="time" [(ngModel)]="restaurantData.time"
                        placeholder="Digite o novo horário de funcionamento">
                </div>
            </div>

            <div class="edit-btn">
                <button type="submit">salvar alterações</button>
            </div>

        </div>
    </form>
</div>