<header>
    <img (click)="goBack()" src="../../../assets/seta-esquerda.png" alt="">
</header>
<div class="all">

    <div class="illustration">
        <img src="../../../assets/entrega-de-alimentos 1.png" alt="">
    </div>

    <div id="selectors">
        <div class="content">
            <p>Já está em algum restaurante?</p>
            <button (click)="codeRestaurant()" class="pink-button">Adicione o código do restaurante</button>
        </div>
        <div class="content">
            <p>Ainda não?</p>
            <button (click)="findPageNavigate()" class="light-green-button">Pesquise aqui</button>
        </div>
    </div>

</div>