<header>
    <img src="../../../assets/seta-esquerda.png" alt="">
    <h1>restaurante</h1>
    <img src="../../../assets/shopping-cart.png" alt="">
</header>

<div class="container">
    <div class="background">
        <div class="details">
            <img class="food-img" src="../../../assets/food (2).jpg" alt="">

            <div class="text">
                <h2>Toronto Burgerddddddddddd</h2>
                <p>Dois hambúrgueres de carne, molho especial, alface, queijo, molho de pepino, cebola em um pão com gergelim</p>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="details">
            <img class="food-img" src="../../../assets/food (2).jpg" alt="">

            <div class="text">
                <h2>Toronto Burgerddddddddddd</h2>
                <p>Dois hambúrgueres de carne, molho especial, alface, queijo, molho de pepino, cebola em um pão com gergelim</p>
            </div>
        </div>
    </div>
</div>