<header>
    <header>
        <!-- <h1>{{restaurantName}}</h1> -->
        <h1>Restaurante 1</h1>
    </header>
</header>

<div>
    <div class="btn">
        <div class="order-control" (click)="controlRoute()">
            <img class="btn-img" src="../../../assets/editar.png" alt="">
            <p>Controle de Pedidos</p>
        </div>

        <div class="menu" (click)="menuRoute()">
            <img class="btn-img" src="../../../assets/cardapio.png" alt="">
            <p>Cardápio</p>
        </div>

        <div class="option" (click)="optionRoute()">
            <img class="btn-img" src="../../../assets/configuracoes.png" alt="">
            <p>Opções</p>
        </div>
    </div>

</div>